

<kendo-chart [categoryAxis]="{categories:years}" (seriesClick)="chartItemClicked($event)" >
  <kendo-chart-title text="Thống Kê Vé Theo Ngày Chiếu"></kendo-chart-title>
  <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
  <kendo-chart-tooltip></kendo-chart-tooltip>
  <kendo-chart-series>
    <kendo-chart-series-item *ngFor="let student of ves" 
    type="bar" [data]="[student.total]" [name]="student._id">
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>





